/*Defaults */
html, body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-color: #2A313F;
  height: auto;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#content-wrapper {
  margin-top: calc(7vw + 10px);
  width: 70vw;
  min-width: 300px;
}

.header-sm {
  font-weight: 600;
  font-size: 30px;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.navy-blue {
  color: #2A313F;
}

.tan {
  color: #CDA56E;
}

.light-cream {
  color: #FEF5DE;
}

@media only screen and (max-device-width : 480px) {
  #content-wrapper {
    width: 80vw;
  }
}
