h1 {
  font-size: 2rem;
  font-weight: 600;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
}

.topic {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
}


.subtitle-sm {
  @extend .subtitle;
  font-size: 1.25rem;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
