::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  background: transparent;
  position: overlay;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $main-accent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $main-accent;
}
