@import "./global-variables.scss";
@import "./fonts.scss";
@import "./scrollbar.scss";
@import "./animations.scss";

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-weight: 300;
  font-size: 1 rem;
  background-color: $light-cream;
  background-image: url('../assets/landing-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 55rem;
  width: 100vw;
  overflow-x: hidden;
  transition: $mid-ease;
  @include sm {
    height: 70rem;
    transition: $mid-ease;
  }
  @include md {
    height: 60rem;
    transition: $mid-ease;
  }
}

.page-container {
  position: relative;
  padding-bottom: calc(8.5vh - 20px);
  .page {
    z-index: 1;
    position: relative;
    top: calc(8.5vh - 20px);
    width: 90vw;
    max-width: 700px;
    min-width: 270px;
    @include md {
      width: calc(70vw);
    }
    @include lg {
      width: calc(60vw);
    }
    @include xl {
      width: calc(50vw);
    }
  }
}

.landing-header {
  margin-bottom: 2rem;
}

.mgn-bottom-2rem {
  margin-bottom: 2rem;
}

.row-space-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.landing-part-one {
  @extend .mgn-bottom-2rem;
  animation: $a-fade-from-up;
}

.landing-part-two {
  @extend .mgn-bottom-2rem;
  animation: $a-fade-from-down;
}

#landing {
  @extend .page-container;
  color: $light-cream;
}

.waffly-logo {
  margin-bottom: 1.5rem;
  width: 3.5rem;
}

.expand-caption {
  margin-top: 1rem;
  text-align: center;
  .icon-arrow-down {
    display: block;
    width: 46px;
    margin: 1rem auto;
    transition: $mid-ease;
    &:hover {
      transform: translateY(0.5rem);
      transition: $mid-ease;
    }
  }
}

.project-feature {
  animation: $a-fade-from-down;
  @extend .page-container;
  text-align: center;
}

.feature-caption {
  position: relative;
  top: 1rem;
  .title {
    font-weight: 600;
    color: $dark-blue;
    font-size: 2rem;
  }
  .caption {
    padding: 1rem 0 1.3rem 0;
    font-weight: 300;
    color: $dark-blue;
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
  .demo {
    @extend .title;
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: $dark-blue;
    & a {
      color: $light-cream;
    }
    &:hover {
      background-color: $tanner;
    }
  }
}

.feature-img {
  border-radius: 15px;
  width: 100%;
  -webkit-box-shadow: 11px 11px 30px -13px rgba(97,67,21,0.63);
  -moz-box-shadow: 11px 11px 30px -13px rgba(97,67,21,0.63);
  box-shadow: 11px 11px 30px -13px rgba(97,67,21,0.63);
  @include md {
    top: 80%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
