@import "./global-variables.scss";
@import "./fonts.scss";

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
  font-family: $font-main;
  font-weight: 300;
  font-size: 1 rem;
  background-color: $light-cream;
}

.page-container {
  background-color: $dark-blue;
  position: relative;
  padding-bottom: calc(8.5vh - 20px);
  .page {
    z-index: 1;
    position: relative;
    top: calc(8.5vh - 20px);
    width: 90vw;
    min-width: 270px;
    @include md {
      width: calc(70vw);
    }
    @include lg {
      width: calc(60vw);
    }
    @include xl {
      width: calc(50vw);
    }
  }
}

#landing {
  @extend .page-container;
  background-color: $dark-blue;
  color: $light-cream;
  padding-bottom: calc(18vh);
}

.waffly-logo {
  margin-bottom: 1.5rem;
  width: 2.5rem;
}

.expand-caption {
  margin-top: 1rem;
  text-align: center;
  .icon-arrow-down {
    display: block;
    width: 46px;
    margin: 1rem auto;
    transition: $mid-ease;
    &:hover {
      transform: translateY(0.5rem);
      transition: $mid-ease;
    }
  }
}

#closetr-feature-bg {
  transform: skewY(-2.5deg);
  transform-origin: top left;
  background-color: $light-cream;
  width: 100%;
  height: calc(50rem);
  overflow-x: hidden;
  position: absolute;
  top: 3rem;
  @include sm {
    top: 4rem;
  }
  @include md {
    top: 6.5rem;
  }
}

#closetr-feature {
  @extend .page-container;
  height: 50rem;
  text-align: center;
}

.feature-caption {
  position: relative;
  top: 10rem;
  .title {
    font-weight: 600;
    color: $dark-blue;
    font-size: 1.5rem;
  }
  .caption {
    padding: 2rem 0 2rem 0;
    font-weight: 300;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .demo {
    @extend .title;
    padding: 0.5rem;
    background-color: $tan;
  }
}

.feature-img {
  margin: -9rem auto;
  border-radius: 15px;
  width: 90%;
  -webkit-box-shadow: 11px 11px 30px -13px rgba(97,67,21,0.63);
  -moz-box-shadow: 11px 11px 30px -13px rgba(97,67,21,0.63);
  box-shadow: 11px 11px 30px -13px rgba(97,67,21,0.63);
  @include md {
    top: 80%;
  }
}
