@import "./global-variables.scss";
@import "./fonts.scss";

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
  font-family: $font-main;
  font-weight: 300;
  font-size: 1 rem;
  background-color: $light-cream;
}

.page-container {
  background-color: $dark-blue;
  position: relative;
  padding-bottom: calc(8.5vh - 20px);
  .page {
    z-index: 1;
    position: relative;
    top: calc(8.5vh - 20px);
    width: 90vw;
    @include md {
      width: calc(80vw);
    }
    @include lg {
      width: calc(70vw);
    }
    @include xl {
      width: calc(60vw);
    }
  }
}

#landing {
  @extend .page-container;
  background-color: $dark-blue;
  color: $light-cream;
  padding-bottom: calc(18vh);
}

.waffly-logo {
  margin-bottom: 1.5rem;
  width: 2.5rem;
}

.expand-caption {
  margin-top: 1rem;
  text-align: center;
  .icon-arrow-down {
    display: block;
    width: 46px;
    margin: 1rem auto;
    transition: $mid-ease;
    &:hover {
      transform: translateY(0.5rem);
      transition: $mid-ease;
    }
  }
}

#closetr-feature-bg {
  transform: skewY(-2.5deg);
  transform-origin: top left;
  background-color: $light-cream;
  width: 100%;
  height: calc(60vw + 7rem);
  position: absolute;
  top: 3rem;
  @include sm {
    top: 4rem;
  }
  @include md {
    top: 6.5rem;
  }
}

#closetr-feature {
  @extend .page-container;
  text-align: center;
}

.feature-img {
  margin: -9rem auto;
  border-radius: 15px;
  width: 90%;
  @include md {
    top: 80%;
  }

}
